### Val Roseg Water Supply
The water supply to the fountain was intermittent causing long melt and short freezing periods. Also due to freezing and melting inside the supply pipeline, the fountain water discharge varied a lot.

In [70]:
# -*- coding: utf-8 -*-
from __future__ import print_function
from __future__ import division
import datetime

%load_ext autoreload
%autoreload 2

%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [71]:
import pandas as pd
import numpy as np
from datetime import timedelta,date, time
from matplotlib import pyplot as plt
def GetTime(sec):
    sec = timedelta(seconds=sec)
    d = datetime(1,1,1) + sec

    print("DAYS:HOURS:MIN:SEC")
    print("%d:%d:%d:%d" % (d.day-1, d.hour, d.minute, d.second))

In [72]:
df = pd.read_csv('../data/interim/roseg_measurements.csv', parse_dates=['time'])
del df['doy']
df.head()

                 time  temp     rh    ws    height  water
0 2016-11-17 14:00:00  3.43  68.98  1.67  5.378824    1.0
1 2016-11-17 16:00:00 -0.83  89.60  0.34  5.507915    1.0
2 2016-11-18 10:00:00  4.74  53.88  2.29  5.400339    1.0
3 2016-11-18 12:00:00  4.56  56.59  2.42  5.540188    1.0
4 2016-11-18 14:00:00  1.07  86.50  3.32  5.529431    1.0

### Estimating total water consumption
Assuming constant discharge of 1 litre/s or $3.6 m^3/h$

In [73]:
df['delta_time'] = (df['time']-df['time'].shift()).fillna(0)
df['delta_height'] = (df['height']-df['height'].shift()).fillna(0)
df['growth_rate'] = (df['delta_height']*100)/(df['delta_time'].apply(lambda x: x.total_seconds()/3600))
df['delta_time']=df['delta_time'].apply(lambda x: x.total_seconds())

In [74]:
df['water_used']=df['delta_time']*df['water']
print('The fountain worked approximately for %d days from 17th November 2016 to 7th April 2017(in 141 days)' %(df['water_used'].sum()//3600//24))
print(' %d litres of water used' % (df['water_used'].sum()))

TypeError: %d format: a number is required, not Timedelta

In [ ]:
df['water_used']=df['delta_time']*df['water']/3600

In [ ]:
df[['water_used']].plot(figsize=(12,8), grid=True)